<!-- <h1>Contact Details</h1>
<div class="container">
<h2>Contact Info:</h2>
  <p> <b> First Name : </b><%= @first_name %> </p>
  <p>  <b> Last Name : </b><%= @last_name %> </p>
  <p>  <b> Job Title : </b><%= @job_title %> </p>
  <p>  <b> Company : </b><%= @company %> </p>
  <p>  <b> Contact Type : </b><%= @type %> </p>
  <p>  <b> Street Address : </b><%= @street_address %> </p>
  <p>  <b> City : </b><%= @city %> </p>
  <p>  <b> State : </b><%= @state %> </p>
  <p>  <b> Zip : </b><%= @zip %> </p>
</div>
<br>
<a href="/">Return to home</a> -->

<h1>details</h1>
